/* Search Popup */
#search-popup {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 10px;
  width: 500px;
}
.no-results {
  text-align: center;
  font-size: 20px;
  color: #333;
  padding: 20px;
}
.search-result {
  font-size: 14px;
  border-radius: 5px;
  background-color: white;
  /* y padding */
  padding: 10px;
  margin-bottom: 5px;
  /* top and bottom border */
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  color: #333;
}
/* remove a style from search-result */
.search-result:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.search-result:hover {
  background-color: #c5c2c2;
}
.selected {
  background-color: #c5c2c2;
}

#search-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
}

#search-results {
  margin-top: 20px;
  /* top and bottom padding */
  padding: 10px 0;
  border-radius: 10px;
  background-color: white;
  display: none;
  flex-direction: column;
}
